@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

h1 {
    font-family: 'Kanit';
    /* font-weight: 700 !important; */

}

*{
    word-break: break-word;
}

body {
    background: linear-gradient(-90deg, rgb(0, 0, 0) 5.8%, rgb(7 182 242) 360.6%);
    background-repeat: no-repeat;
    background-size: contain;
    width: '100%';
}

html{
    scroll-behavior: smooth;
}

#home,
#about,
#projectMain,
#project1,
#project2,
#project3,
#project4,
#project5,
#project6,
#mini-projects,
#jobMain {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centeredHeading {
    font-size: 140px;
    margin-bottom: 0px;
    letter-spacing: 10px;
    background: linear-gradient(to right, yellow, rgb(99, 205, 99));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

b{
    color: rgb(251, 255, 25);
}
.centeredPara {
    font-size: 18px;
    font-family: 'Poppins';
    width: 70%;
    margin: auto;
    margin-top: 0px;
    color: white;
    line-height: 40px;
}

.centeredDiv {
    text-align: center;
}

.centerBlue {
    background: -webkit-linear-gradient(white, rgb(97, 188, 219)) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;


}

.calender{
    color: white;
    width: 600px !important;
    background-color: white !important;
}

.js-calender-graph-svg{
    max-width: 600 !important;
}

.js-calender-graph{
    border: 0px !important;
}

.socialIcon{
    color: white;
    font-size: 40px;
}

.socialIcon:hover{
    scale: 1.2;
    transition: 0.3s linear;
}

.linkContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px auto;
    width: 50%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#about .linkContainer{
    width: 80%;
}

.btn-grad {
    background-image: linear-gradient(235deg, #36393D 0%, #5E5E5E 100%);
    margin: 20px auto;
    padding: 15px 40px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 200px;
    display: block;
    border: 0px;
    letter-spacing: 7px;
    line-height: 20px

}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


.gridHead {
    letter-spacing: 7px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: -webkit-linear-gradient(white, #FFE8AD) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}


.gridDiv {
    display: flex;
    flex-direction: row;
    color: white;
    font-family: poppins;
    margin-top: 50px;

}

.gridCol {
    width: 33%;
    text-align: center;
}

.gridPara {
    width: 60%;
    margin: 10px auto;
    line-height: 40px;
}

@media screen and (max-width:990px) {
    .gridDiv {
        flex-direction: column;
        margin: 0px auto;
    }
    .centeredHeading{
        font-size: 80px;
        width: 90%;
        margin: 0px auto
    }
    .centeredPara{
        font-size: 14px;
        width: 95%;
    }
    .gridPara{
        font-size: 14px;
        width: 95%;
    }
    .gridCol{
        width: 80%;
        margin:20px auto
    }
    .gridPara{
        width: 100%;
    }
    .calender{
        display: none;
    }
    #about{
        flex-direction: column-reverse;
        height: auto;
        justify-content: center;
    }
    #github-graph{
        display: none;
    }
    .projectCard{
        flex-direction: column;
    }
    .projectCard div{
        width: 100%;
    }
}

@media screen and (max-width:658px) {
    .gridDiv {
        flex-direction: column;
        margin: 0px auto;
    }
    .centeredHeading{
        font-size: 50px;

    }
    .centeredPara{
        font-size: 12px;
        width: 85%;
    }
    .gridCol{
        width: 80%;
        margin:20px auto
    }
    .gridPara{
        width: 100%;
    }
    .btn-grad{
        padding: 20px 20px !important;
        width: 80%;
    }
    .mini-projects div{
        width: 100%;
    }
    .linkChipContainer{
        flex-direction: row;
    }
    .linkChipContainer a{
        display: block;
    }
    .calender{
        display: none;
    }
}

.gigLinks a img{
    border-radius: 200px;
    margin: 10px;
}
a{
    text-decoration: none;
    font-family: bold;
}


.no-height{
    height: fit-content !important;
}

.linkChip{
    background: linear-gradient(235deg, #2966b7 0%, #003250 100%);
    text-decoration: none;
    color: white;
    font-family: poppins;
    margin: 10px 10px;
    padding: 10px 10px;
    border-radius: 10px;
}




.leftPortify p{
    font-size: 13px !important;
}

body{
    padding: 0px;
    margin: 0px;
}


.sidebar{
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: #121212;
    top:-10;
    padding: 10px;
    position: fixed;
    height: 100vh;
    margin: 0px;
}

.side-link{
    padding: 10px;
    color: white;
    font-size: 20px;
    font-family: Poppins;
    text-align: center;
    
}
.side-link:hover{
    opacity: 0.5;
    transition: 0.5s;
}