@tailwind base;
@tailwind utilities;
@tailwind variants;

#agencyPage {
    scroll-behavior: smooth !important;
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */

    &::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari and Opera */
    }
}



.custom-prose {
    color: rgb(176, 175, 175);
}

.custom-prose h1 {
    font-size: 1.2rem !important;
    line-height: 1.5 !important;
    font-weight: 500 !important;
    margin-top: 1rem !important;
    color: white;
}

.custom-prose p {
    font-size: 0.875rem !important;
    line-height: 1.8 !important;
    font-weight: 500 !important;
    margin: 0.5rem 0 !important;
}

.custom-prose a {
    color: yellowgreen !important;
    text-decoration: underline !important;
}

.custom-prose ul {
    list-style-type: disc !important;
    margin-left: 1.5rem !important;
}

.custom-prose li {
    margin-bottom: 0.5rem !important;
}

.custom-prose blockquote {
    border-left: 2px solid #000 !important;
    padding-left: 1rem !important;
    margin-left: 0 !important;
}

.custom-prose code {
    font-size: 0.875rem !important;
    line-height: 1.5 !important;
    font-weight: 400 !important;
    padding: 0.1rem 0.2rem !important;
    border-radius: 0.25rem !important;
    white-space: pre-wrap !important;
    background-color: rgb(59, 61, 61);
    border-radius: 5px;
}

.custom-prose pre>code {
    background-color: transparent;

}

.custom-prose pre {
    background-color: rgb(0, 0, 0) !important;
    padding: 1rem !important;
    border-radius: 0.25rem !important;
}

.custom-prose table {
    width: 100% !important;
    border-collapse: collapse !important;
    border: 1px solid #a2a2a2 !important;
    width: fit-content !important;
}

.custom-prose th,
.custom-prose td {
    padding: 0.5rem !important;
    border: 1px solid #000 !important;
}

.custom-prose th {
    background-color: #f0f0f0 !important;
}

.custom-prose img {
    width: 100% !important;
    height: auto !important;
}

.custom-prose br {
    margin-bottom: 1rem !important;
}