@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
  padding: 0;
  scroll-behavior: smooth;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}



img {
  max-width: 100%;
  display: block;
}

.scroll-d-none::-webkit-scrollbar {
  display: none;
}


.scroll-d-none {
    -ms-overflow-style: none;  /* Internet Explorer and Edge */
    scrollbar-width: none;  /* Firefox */
}


.project-link:hover .project-arrow{
    transition:0.5s;
    transform: translateY(-5px) rotate(-45deg);
}

#scrollable{
  scroll-behavior: smooth !important;
}