@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
  padding: 0;

  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}



img {
  max-width: 100%;
  display: block;
}

.scroll-d-none::-webkit-scrollbar {
  display: none;
}


.scroll-d-none {
    -ms-overflow-style: none;  /* Internet Explorer and Edge */
    scrollbar-width: none;  /* Firefox */
}

